body {
    background-color: rgb(157, 213, 232);
}
h1 {
    color: pink;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}
p {
    color: red;
    text-align: center;
    font-weight: bolder;
}
img {
    text-align: center;
}